/* Genel Sayfa Ayarları */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;   /* height yerine min-height */
}

.hidden {
    display: none;
}

/* Ana Kart */
.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Başlık */
h1 {
    color: #e91e63;
    margin-bottom: 10px;
}

/* Alt Yazı */
.subtitle {
    color: #555;
    font-size: 16px;
    margin-bottom: 25px;
}

/* Buton */
button {
    background: #e91e63;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #c2185b;
    transform: scale(1.05);
}

/* Mesaj Alanı */
#mesaj {
    margin-top: 25px;
    background: #fff0f5;
    padding: 15px;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

pre {
    background: #ffe4ec;
    padding: 10px;
    border-radius: 10px;
    color: #c2185b;
    font-weight: bold;
    overflow-x: auto;
}
.ask-foto {
    width: 220px;
    border-radius: 15px;
    margin: 15px 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}